.box{
    position: relative;
    width: 375px;
    height: 812px;
    margin: auto;
}

.header{
    position: absolute;
    top: 549px;
    left: 20px;
    width: 231px;
    height: 33px;
    /* UI Properties */
    text-align: left;
    font-size: 28px;
    font-family: "Rubik";
    font-weight: 500;
    font: normal normal medium 28px/17px Rubik;
    letter-spacing: 0px;
    color: #1D2226;
    opacity: 1;
}

.description{
    position: absolute;
    top: 592px;
    left: 20px;
    width: 232px;
    height: 48px;
    text-align: left;
    font-size: 18px;
    font: normal normal normal 18px/26px Rubik;
    letter-spacing: 0px;
    color: #1D2226;
    opacity: 0.6;
}

.create_account{
    position: absolute;
    top: 669px;
    left: 20px;
    width: 335px;
    height: 46px;
    background: #6C25FF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    color: #FFFFFF;
    border: none;
}

.create_account_text{
    top: 683px;
    left: 127px;
    width: 120px;
    height: 19px;
    font-size: 16px;
    font: normal normal normal 16px/17px Rubik;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
}

.already_registered_login{
    position: absolute;
    top: 725px;
    left: 20px;
    width: 335px;
    height: 46px;
    background: #6C25FF4B 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
    font-size: 16px;
    font: normal normal medium 16px/17px Rubik;
    font-weight: 500;
}

.already_registered_login_text{
    top: 739px;
    left: 86px;
    width: 202px;
    height: 19px;
    text-align: center;
    font-size: 16px;
    font: normal normal medium 16px/17px Rubik;
    font-family: "Rubik";
    font-weight: 500;
    letter-spacing: 0px;
    color: #1D2226;
    opacity: 1;
}