.box{
    position: relative;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 812px;
    background: #F7F8F9 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: auto;
}

.account_settings{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 68px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000007;
    opacity: 1;
}

.account_settings_text{
    position: absolute;
    top: 13px;
    left: 15px;
    width: 146px;
    height: 22px;
    text-align: left;
    font-size: 18px;
    font: normal normal normal 18px/21px Rubik;
    font-family: "Rubik";
    letter-spacing: 0px;
    color: #1D2226;
    text-transform: capitalize;
    opacity: 1;
}

.image{
    position: absolute;
    top: 98px;
    left: 20px;
    width: 76px;
    height: 76px;
    opacity: 1;
}

.svg{
    position: absolute;
    top: 147px;
    left: 79px;
    width: 21px;
    height: 23px;
    /* background: transparent url('img/Group 1585.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
}

.userName{
    position: absolute;
    top: 98px;
    left: 116px;
    width: 75px;
    height: 18px;
    text-align: left;
    font-size: 15px;
    font: normal normal medium 15px/19px Rubik;
    font-family: "Rubik";
    font-weight: 500;
    letter-spacing: 0px;
    color: #1D2226;
    text-transform: capitalize;
    opacity: 1;
}

.email{
    position: absolute;
    top: 122px;
    left: 116px;
    width: 118px;
    height: 17px;
    text-align: left;
    font: normal normal normal 14px/19px Rubik;
    letter-spacing: 0px;
    color: #1D2226;
    text-transform: capitalize;
    opacity: 1;
}

.about{
    position: absolute;
    top: 204px;
    left: 20px;
    width: 337px;
    height: 63px;
    text-align: left;
    font-size: 14px;
    font: normal normal normal 14px/22px Rubik;
    font-family: "Rubik";
    letter-spacing: 0px;
    color: #1D2226;
    text-transform: capitalize;
    opacity: 1;
}